/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after {
    outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    overflow-x: hidden;
    font-size: 62.5%;
}

/*  ----------------------------------
    ----------------------------------
        Global Config
    ----------------------------------
    ---------------------------------- 
*/

:root {
    --white:#fafafa;
    --grey:#666666;
    --black:#212121;
}

::selection {
    color:#ffffff;
    background-color:#D42210;
}

::-moz-selection {
    color:#ffffff;
    background-color:#D42210;
}

body {
    color:#ffffff;
    background-color:#212121;
    overflow-x: hidden;
}

@media screen and (max-width: 75em) and (orientation: landscape) {
    /*  ----------------------------------
        ----------------------------------
            Site Navigation
        ----------------------------------
        ---------------------------------- 
    */
    .site-nav {
        position: fixed;
        top:-.5rem;
        left:0;
        width: 100vw;
        height: 23vh;
        padding:1rem 4rem 0 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:#212121;
        z-index: 900;
    }
    
    /* Site Logo */
    
    .site-nav svg {
        width:10vw;
    }
    
    .site-nav svg #Jamil,
    .site-nav svg #Filho {
        fill: transparent;
        stroke:#ffffff;
        stroke-width: .5rem;
        transition: .2s ease-out;
    }
    
    .site-nav a:focus > svg #Filho {
        stroke:transparent;
        fill:#D42210;
        transition: .2s ease-in;
    }
    
    /* Site Navigation */
    
    /* .site-nav .nav-links {
        width:70vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .site-nav .nav-links li {
        margin:0 1rem 0 1rem;
    }
    
    .site-nav .nav-links li a {
        padding:1rem 0 1rem 0;
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.4rem;
        font-weight: 500;
        text-decoration: none;
        color:#ffffff;
        transition:.2s ease-out;
        border-bottom:0 solid transparent;
    }
    
    .site-nav .nav-links li a:hover,
    .site-nav .nav-links li a:focus,
    .site-nav .nav-links li a:active {
        color:#D42210;
        border-bottom:3px solid #D42210;
    } */

    .site-nav .nav-social {
        width:80vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .site-nav .nav-social li a {
        margin:0;
        padding:1rem 1.5rem 1rem 1.5rem;
        text-decoration: none;
        color:#ffffff;
        transition:.2s ease-out;
    }

    .site-nav .nav-social li a svg {
        width:1.6rem;
    }
    
    .site-nav .nav-social li a:hover,
    .site-nav .nav-social li a:focus,
    .site-nav .nav-social li a:active {
        color:#D42210;
    }
    
    /*  ----------------------------------
        ----------------------------------
            Site Header
        ----------------------------------
        ---------------------------------- 
    */
    
    .site-header {
        width:100vw;
        height:90vh;
        overflow: hidden;
        display: flex;
        padding:10vh 2rem 0 2rem;
        justify-content: center;
        align-items: center;
        z-index:-1;
    }
    
    .site-header h1 {
        font-family: 'Montserrat', sans-serif;
        font-size:3rem;
        font-weight: 900;
        text-transform: uppercase;
        color:#fafafa;
        text-align: center;
        z-index: 1;
    }
    
    .site-header h1 strong {
        color:#D42210;
    }
    
    /*  ----------------------------------
        ----------------------------------
            Site Main
        ----------------------------------
        ---------------------------------- 
    */
    
    .site-main {
        width:100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
    }
    
    /* Services Section */
    
    .services {
        width:100vw;
        padding:0 0 4rem 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .service-link {
        text-decoration: none;
    }

    .service-link:first-of-type {
        margin-bottom: 8rem;
    }
    
    .service-detail {
        position: relative;
        width:80vw;
        height:60vh;
        padding:2rem 4rem 2rem 4rem;
        border-radius: .5rem;
        box-shadow:0 0 10px rgba(0,0,0,.5);
        display: flex;
        flex-direction: row-reverse;
        background-color:#202020
    }
    
    .service-header {
        width:50%;
        height:50vh;
    }
    
    .architecture .service-detail .service-header img {
        position: absolute;
        top:0;
        right:-8rem;
        width:30vw;
        z-index:90;
    }
    
    .interior .service-detail .service-header img {
        position: absolute;
        top:-3rem;
        right:-10rem;
        width:35vw;
        z-index:90;
    }
    
    .service-header::after {
        position: absolute;
        top:50%;
        right:1rem;
        content:'';
        width:15rem;
        height:15rem;
        transform: translateY(-50%);
        border-radius: 15rem;
        background-color:rgba(255,255,255,.3);
    }
    
    .service-body {
        width:50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .service-body h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 2.5rem;
        font-weight: 700;
        color:#fafafa;
    }
    
    .service-footer {
        position: absolute;
        bottom:0;
        left: 0;
        width:100%;
        padding:0 4rem 4rem 4rem;
    }
    
    .service-footer span {
        padding:.5rem 1rem .5rem 1rem;
        font-family: 'Montserrat', sans-serif;
        font-size:1.6rem;
        font-weight: 500;
        text-decoration: none;
        color:#D42210;
        border:thin solid #D42210;
        transition: .2s ease-out;
    }

    /*  ----------------------------------
        ----------------------------------
            Site Article
        ----------------------------------
        ---------------------------------- 
    */
    
    .site-article {
        width:80vw;
        margin-bottom:4rem;
    }

    .site-article p {
        font-family:'Montserrat', sans-serif;
        font-size: 1.6rem;
        line-height:2rem;
        margin-bottom:1.6rem;
    }

    .site-article p strong {
        font-weight: 700;
    }

    .site-article h3 {
        width:100%;
        display:block;
        font-family:'Montserrat', sans-serif;
        font-size: 1.6rem;
        line-height: 2.2rem;
        font-weight: 700;
        text-transform:uppercase;
        margin-bottom:1.6rem;
    }

    /* Article Footer */

    .article-footer {
        position: relative;
        width:100vw;
        margin-top:6rem;
        padding:2rem 0 2rem 0;
        left:50%;
        text-align: center;
        transform: translateX(-50%);
        background-color:#ffffff;
    }

    .article-footer h3 {
        padding:0 4rem 0 4rem;
        margin:4rem 0 0 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        font-weight: 700;
        color:#D42210;
    }

    .article-footer p {
        padding:0 4rem 0 4rem;
        margin:0 0 4rem 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
        color:#212121;
    }

    .site-form {
        width:100%;
        height:85vh;
    }
    
    /*  ----------------------------------
        ----------------------------------
            Site Footer
        ----------------------------------
        ---------------------------------- 
    */
    
    .site-footer {
        width:100vw;
        padding:4rem 2rem 4rem 2rem;
        border-top: thin solid rgba(255,255,255,.1);
    }
    
    .site-footer h4 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.8rem;
        font-weight: 700;
        color:#fafafa;
        text-transform: uppercase;
        margin:0 0 4rem 1rem;
    }
    
    .site-footer address {
        display: flex;
        flex-direction: row;
    }
    
    .site-footer .contact,
    .site-footer .address {
        padding:0 1rem 0 1rem;
    }
    
    .site-footer .contact {
        margin-bottom:2rem;
    }
    
    .site-footer .contact p,
    .site-footer .address p {
        margin-bottom:1.2rem;
    }
    
    .site-footer .contact p {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    
    .site-footer .contact svg {
        width:2rem;
        margin-right: 1rem;
        stroke:rgba(255,255,255,.3);
    }
    
    .site-footer .contact a {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.8rem;
        color: #D42210;
        text-decoration: none;
    }
    
    .site-footer .address p {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.4rem;
        line-height: 1.6rem;
    }
}

@media screen and (max-width: 75em) and (orientation: portrait) {
    /*  ----------------------------------
        ----------------------------------
            Site Navigation
        ----------------------------------
        ---------------------------------- 
    */
    .site-nav {
        position: fixed;
        top:0;
        left:0;
        width: 100vw;
        height: 20vh;
        padding:0 2rem 0 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:#212121;
        z-index: 900;
    }
    
    /* Site Logo */
    
    .site-nav svg {
        width:25vw;
    }
    
    .site-nav svg #Jamil,
    .site-nav svg #Filho {
        fill: transparent;
        stroke:#ffffff;
        stroke-width: .5rem;
        transition: .2s ease-out;
    }
    
    .site-nav a:focus > svg #Filho {
        stroke:transparent;
        fill:#D42210;
        transition: .2s ease-in;
    }
    
    /* Site Navigation */
    
    /* .site-nav .nav-links {
        width:70vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .site-nav .nav-links li {
        margin:0 1rem 0 1rem;
    }
    
    .site-nav .nav-links li a {
        padding:1rem 0 1rem 0;
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.4rem;
        font-weight: 500;
        text-decoration: none;
        color:#ffffff;
        transition:.2s ease-out;
        border-bottom:0 solid transparent;
    }
    
    .site-nav .nav-links li a:hover,
    .site-nav .nav-links li a:focus,
    .site-nav .nav-links li a:active {
        color:#D42210;
        border-bottom:3px solid #D42210;
    } */

    .site-nav .nav-social {
        width:80vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .site-nav .nav-social li a {
        margin:0;
        padding:1rem 1.5rem 1rem 1.5rem;
        text-decoration: none;
        color:#ffffff;
        transition:.2s ease-out;
    }

    .site-nav .nav-social li a svg {
        width:1.6rem;
    }
    
    .site-nav .nav-social li a:hover,
    .site-nav .nav-social li a:focus,
    .site-nav .nav-social li a:active {
        color:#D42210;
    }
    
    /*  ----------------------------------
        ----------------------------------
            Site Header
        ----------------------------------
        ---------------------------------- 
    */
    
    .site-header {
        width:100vw;
        height:70vh;
        overflow: hidden;
        display: flex;
        padding:15vh 2rem 0 2rem;
        align-items: center;
        z-index:-1;
    }
    
    .site-header h1 {
        font-family: 'Montserrat', sans-serif;
        font-size:3rem;
        font-weight: 900;
        text-transform: uppercase;
        color:#fafafa;
        text-align: center;
        z-index: 1;
    }
    
    .site-header h1 strong {
        color:#D42210;
    }
    
    /*  ----------------------------------
        ----------------------------------
            Site Main
        ----------------------------------
        ---------------------------------- 
    */
    
    .site-main {
        width:100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
    }
    
    /* Services Section */
    
    .services {
        width:100vw;
        padding:0 0 4rem 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    
    .service-link {
        text-decoration: none;
        margin-bottom: 4rem;
    }
    
    .service-detail {
        position: relative;
        width:90vw;
        height:30vh;
        padding:1rem 2rem 1rem 2rem;
        border-radius: .5rem;
        box-shadow:0 0 10px rgba(0,0,0,.5);
        display: flex;
        flex-direction: row-reverse;
        background-color:#202020
    }
    
    .service-header {
        width:52%;
        height:30vh;
    }
    
    .architecture .service-detail .service-header img {
        width:50vw;
    }
    
    .interior .service-detail .service-header {
        width:80vw;
        margin-top:-4rem;
        margin-right:-8rem;
    }
    
    .service-header img {
        position: relative;
        z-index:90;
    }
    
    .service-header::after {
        position: absolute;
        top:50%;
        right:1rem;
        content:'';
        width:15rem;
        height:15rem;
        transform: translateY(-50%);
        border-radius: 15rem;
        background-color:rgba(255,255,255,.3);
    }
    
    .service-body {
        width:50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .service-body h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        font-weight: 700;
        color:#fafafa;
    }
    
    .service-footer {
        position: absolute;
        bottom:0;
        left: 0;
        width:100%;
        padding:0 2rem 3rem 2rem;
    }
    
    .service-footer span {
        padding:.5rem 1rem .5rem 1rem;
        font-family: 'Montserrat', sans-serif;
        font-size:1.4rem;
        font-weight: 500;
        text-decoration: none;
        color:#D42210;
        border:thin solid #D42210;
        transition: .2s ease-out;
    }

    /*  ----------------------------------
        ----------------------------------
            Site Article
        ----------------------------------
        ---------------------------------- 
    */
    
    .site-article {
        width:80vw;
        margin-bottom:4rem;
    }

    .site-article p {
        font-family:'Montserrat', sans-serif;
        font-size: 1.6rem;
        line-height:2rem;
        margin-bottom:1.6rem;
    }

    .site-article p strong {
        font-weight: 700;
    }

    .site-article h3 {
        width:100%;
        display:block;
        font-family:'Montserrat', sans-serif;
        font-size: 1.6rem;
        line-height: 2.2rem;
        font-weight: 700;
        text-transform:uppercase;
        margin-bottom:1.6rem;
    }

    /* Article Footer */

    .article-footer {
        position: relative;
        width:100vw;
        margin-top:6rem;
        padding:2rem 0 2rem 0;
        left:50%;
        text-align: center;
        transform: translateX(-50%);
        background-color:#ffffff;
    }

    .article-footer h3 {
        padding:0 4rem 0 4rem;
        margin:4rem 0 0 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        font-weight: 700;
        color:#D42210;
    }

    .article-footer p {
        padding:0 4rem 0 4rem;
        margin:0 0 4rem 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
        color:#212121;
    }

    .site-form {
        width:100%;
        height:85vh;
    }
    
    /*  ----------------------------------
        ----------------------------------
            Site Footer
        ----------------------------------
        ---------------------------------- 
    */
    
    .site-footer {
        width:100vw;
        padding:4rem 2rem 2rem 2rem;
        border-top: thin solid rgba(255,255,255,.1);
    }
    
    .site-footer h4 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.6rem;
        font-weight: 700;
        color:#fafafa;
        text-transform: uppercase;
        margin:0 0 4rem 1rem;
    }
    
    .site-footer address {
        display: flex;
        flex-direction: column;
    }
    
    .site-footer .contact,
    .site-footer .address {
        padding:0 1rem 0 1rem;
    }
    
    .site-footer .contact {
        margin-bottom:2rem;
    }
    
    .site-footer .contact p,
    .site-footer .address p {
        margin-bottom:1.2rem;
    }
    
    .site-footer .contact p {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    
    .site-footer .contact svg {
        width:2rem;
        margin-right: 1rem;
        stroke:rgba(255,255,255,.3);
    }
    
    .site-footer .contact a {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.6rem;
        color: #D42210;
        text-decoration: none;
    }
    
    .site-footer .address p {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.4rem;
        line-height: 1.6rem;
    }
}

@media screen and (min-width: 75em) {
    /*  ----------------------------------
        ----------------------------------
            Site Navigation
        ----------------------------------
        ---------------------------------- 
    */
    .site-nav {
        position: fixed;
        top:0;
        left:0;
        width: 100vw;
        height: 15vh;
        padding:0 4rem 0 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:#212121;
        z-index: 900;
    }
    
    /* Site Logo */
    
    .site-nav svg {
        width:5vw;
    }
    
    .site-nav svg #Jamil,
    .site-nav svg #Filho {
        fill: transparent;
        stroke:#ffffff;
        stroke-width: .5rem;
        transition: .2s ease-out;
    }
    
    .site-nav a:focus > svg #Filho {
        stroke:transparent;
        fill:#D42210;
        transition: .2s ease-in;
    }
    
    /* Site Navigation */
    
    /* .site-nav .nav-links {
        width:70vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .site-nav .nav-links li {
        margin:0 1rem 0 1rem;
    }
    
    .site-nav .nav-links li a {
        padding:1rem 0 1rem 0;
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.4rem;
        font-weight: 500;
        text-decoration: none;
        color:#ffffff;
        transition:.2s ease-out;
        border-bottom:0 solid transparent;
    }
    
    .site-nav .nav-links li a:hover,
    .site-nav .nav-links li a:focus,
    .site-nav .nav-links li a:active {
        color:#D42210;
        border-bottom:3px solid #D42210;
    } */

    .site-nav .nav-social {
        width:80vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .site-nav .nav-social li a {
        margin:0;
        padding:1rem 1.5rem 1rem 1.5rem;
        text-decoration: none;
        color:#ffffff;
        transition:.2s ease-out;
    }

    .site-nav .nav-social li a svg {
        width:1.6rem;
    }
    
    .site-nav .nav-social li a:hover,
    .site-nav .nav-social li a:focus,
    .site-nav .nav-social li a:active {
        color:#D42210;
    }
    
    /*  ----------------------------------
        ----------------------------------
            Site Header
        ----------------------------------
        ---------------------------------- 
    */
    
    .site-header {
        width:100vw;
        height:60vh;
        overflow: hidden;
        display: flex;
        padding:10vh 2rem 0 2rem;
        align-items: center;
        justify-content: center;
        z-index:-1;
    }
    
    .site-header h1 {
        font-family: 'Montserrat', sans-serif;
        font-size:3rem;
        font-weight: 900;
        text-transform: uppercase;
        color:#fafafa;
        text-align: center;
        z-index: 1;
    }
    
    .site-header h1 strong {
        color:#D42210;
    }
    
    /*  ----------------------------------
        ----------------------------------
            Site Main
        ----------------------------------
        ---------------------------------- 
    */
    
    .site-main {
        width:100vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
    }
    
    /* Services Section */
    
    .services {
        width:85vw;
        padding:0 0 4rem 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .service-link {
        text-decoration: none;
        margin-top:4rem;
        margin-bottom: 4rem;
    }
    
    .service-detail {
        position: relative;
        width:40vw;
        height:30vh;
        padding:1rem 2rem 1rem 2rem;
        border-radius: .5rem;
        box-shadow:0 0 10px rgba(0,0,0,.5);
        display: flex;
        flex-direction: row-reverse;
        background-color:#202020
    }
    
    .service-header {
        width:52%;
        height:30vh;
    }
    
    .architecture .service-detail .service-header img {
        position: absolute;
        top:-1rem;
        right:-2.5rem;
        width:15vw;
    }
    
    .interior .service-detail .service-header img {
        position: absolute;
        width:20vw;
        top:-5rem;
        right:-1rem;
    }
    
    .service-header img {
        position: relative;
        z-index:90;
    }
    
    .service-header::after {
        position: absolute;
        top:50%;
        right:1rem;
        content:'';
        width:15rem;
        height:15rem;
        transform: translateY(-50%);
        border-radius: 15rem;
        background-color:rgba(255,255,255,.3);
    }
    
    .service-body {
        width:50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .service-body h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        font-weight: 700;
        color:#fafafa;
    }
    
    .service-footer {
        position: absolute;
        bottom:0;
        left: 0;
        width:100%;
        padding:0 2rem 4rem 2rem;
    }
    
    .service-footer span {
        padding:.5rem 1rem .5rem 1rem;
        font-family: 'Montserrat', sans-serif;
        font-size:1.4rem;
        font-weight: 500;
        text-decoration: none;
        color:#D42210;
        border:thin solid #D42210;
        transition: .2s ease-out;
    }

    /*  ----------------------------------
        ----------------------------------
            Site Article
        ----------------------------------
        ---------------------------------- 
    */
    
    .site-article {
        width:80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom:4rem;
    }

    .site-article p {
        font-family:'Montserrat', sans-serif;
        font-size: 1.6rem;
        line-height:2rem;
        margin-bottom:1.6rem;
    }

    .site-article p strong {
        font-weight: 700;
    }

    .site-article h3 {
        margin:0 auto 1.6rem;
        display:block;
        font-family:'Montserrat', sans-serif;
        font-size: 1.6rem;
        line-height: 2.2rem;
        font-weight: 700;
        text-transform:uppercase;
    }

    /* Article Footer */

    .article-footer {
        position: relative;
        width:100vw;
        margin-top:6rem;
        padding:2rem 0 2rem 0;
        text-align: center;
        background-color:#ffffff;
    }

    .article-footer h3 {
        padding:0 4rem 0 4rem;
        margin:4rem 0 0 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        font-weight: 700;
        color:#D42210;
    }

    .article-footer p {
        padding:0 4rem 0 4rem;
        margin:0 0 4rem 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
        color:#212121;
    }

    .site-form {
        width:60%;
        height:85vh;
    }
    
    /*  ----------------------------------
        ----------------------------------
            Site Footer
        ----------------------------------
        ---------------------------------- 
    */
    
    .site-footer {
        width:100vw;
        padding:4rem;
        border-top: thin solid rgba(255,255,255,.1);
    }
    
    .site-footer h4 {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.6rem;
        font-weight: 700;
        color:#fafafa;
        text-transform: uppercase;
        margin:0 0 4rem 1rem;
    }
    
    .site-footer address {
        display: flex;
        flex-direction: row;
    }
    
    .site-footer .contact,
    .site-footer .address {
        padding:0 1rem 0 1rem;
    }
    
    .site-footer .contact {
        width:50vw;
        margin-bottom:2rem;
    }
    
    .site-footer .contact p,
    .site-footer .address p {
        margin-bottom:1.2rem;
    }
    
    .site-footer .contact p {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    
    .site-footer .contact svg {
        width:2rem;
        margin-right: 1rem;
        stroke:rgba(255,255,255,.3);
    }
    
    .site-footer .contact a {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.6rem;
        color: #D42210;
        text-decoration: none;
    }
    
    .site-footer .address p {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.4rem;
        line-height: 1.6rem;
    }
}